/* Stylesheet for Search Results */

.footerRow {
  background-color: #9228ae;
  min-height: 120px;
  border-top: 8px solid #3e0f75;
  bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.copyright {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
}

 /* From Activity #23 */
ul.search-results img {
  margin: 0 auto;
}